@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

html{
    font-family: 'Itim', cursive;
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: black;
    margin:0;
    padding:0;
}
